<c-header></c-header>
  
<div class="container">
    <div class="row">
        <div class="col-9">
            <div id="carouselExampleFade" data-bs-theme="dark" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner border">
                  <div class="carousel-item active">
                    <img src="assets\slide1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets\slide2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets\slide3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets\slide4.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="assets\slide5.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
        </div>
        <div class="col" style="background-color: rgb(219, 131, 143);padding: 10px;">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center mb-3">
                    <i class="bi bi-stars" style="color: #d96142ff"></i>
                    Günün Fırsatı
                    <i class="bi bi-stars" style="color: #d96142ff"></i></h5>
                  <img src="assets\Günün Ürünü.jpg " class="card-img-top" alt="...">
                  <p class="card-text">Solo Parfümlü Tuvalet Kağıdı 32 Rulo</p>
                  <h5 class="text-end mb-3">1999.99 TL</h5>
                </div>
              </div>
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Son Eklenen Telefonlar</h5>
        <div class="col-4"*ngFor="let c of CellPhones">
            <div class="card">
                <img src={{c.picture}} class="card-img-left" alt="...">
                <div style="padding: 10px;">
                    <h4 class="card-title">{{c.brand_name}} {{c.model_name}}</h4>
                <div class="card-body">
                    <h5 class="text-end mb-3"> {{c.price}} TL </h5>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Popüler Telefonlar</h5>
        <div class="col">
            ses
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Amazon Prime</h5>
        <div class="col">
            ses
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Fırsat Ürünler</h5>
        <div class="col">
            ses
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Popüler Televizyonlar</h5>
        <div class="col">
            ses
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Popüler Laptoplar</h5>
        <div class="col">
            ses
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Popüler Ürünler</h5>
        <div class="col">
            ses
        </div>
    </div>
    <div class="row row-col-3" style="background-color:#f8f4e0ff; padding: 10px;">
        <h5>Son Eklenen Ürünler</h5>
        <div class="col">
            ses
        </div>
    </div>
</div>

<router-outlet></router-outlet>